<!DOCTYPE HTML>
<html>
   <head>
        <title>Climatempo - O melhor site de meteorologia do Brasil</title>
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1">
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta http-equiv="Cache-Control" content="no-cache, no-store">
        <meta http-equiv="Pragma" content="no-cache, no-store">
        <meta name="description" content="Climatempo - O melhor site de meteorologia do Brasil">
        <meta name="keywords" content="Previsão do Tempo, Notícias, Chuva, Marés, Ondas, Ventos, Portal">
        <meta name="application-name" content="Climatempo">
        <meta name="author" content="Cristiano Simomura">
        <meta name="copyright" content="Cristiano Simomura">

        <script src="{DIR_HOME}/packages/jquery/jquery.min.2.1.3.js"></script>
        <script src="{DIR_HOME}/packages/jquery/jquery-ui.min.1.11.2.js"></script>

        <link rel="stylesheet" href="{DIR_HOME}/packages/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="{DIR_HOME}/packages/bootstrap/css/bootstrap.3.3.4.min.css">

        <link rel="stylesheet" href="{DIR_HOME}/packages/select2/css/select2.min.css">
        <script src="{DIR_HOME}/packages/select2/js/select2.min.js"></script>
        <script src="{DIR_HOME}/packages/select2/js/language_ptbr.js"></script>

        <script src="{DIR_HOME}/packages/dateformat/jquery-dateformat.js"></script>

        <link rel="stylesheet" href="{DIR_HOME}/packages/css/style.css">
        <script src="{DIR_HOME}/packages/js/script.js"></script>

    </head>

    <header>
        {CONTENT}
        <input type="hidden" id="txt_dir_home" value="{DIR_HOME}" />
    </header>

    <footer>
    </footer>

</html>

